@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Classroom.Data.Context
@inject AppDbContext DbContext
@model Classroom.Data.Entities.User

@{
    ViewData["Title"] = "Profile";
}
@*<h1>Profile</h1>
<h1>Firstname: @Model.Firstname</h1>
<h1>Firstname: @Model.Lastname</h1>
<h1>UserName: @Model.UserName</h1>*@

<div class="d-flex justify-content-center" style="flex-wrap:wrap;">

    <div class=" row g-2 col-md-7" style="border-radius: 25px;
    margin-top: 1rem;
    padding: 3rem;
    box-shadow: 0 0rem 3rem rgba(8,7,16,0.6)!important;">
        <div class="card-body" style="width: 8%">
            <div class="center"></div>
            <div class="nima">
                <img class="rounded-circle shadow-lg" width="250" height="250" src="@Model.PhotoUrl" />
            </div>
            <div class="text-center">
                <h1>Firstname: @Model.Firstname</h1>
                <h1>Lastname: @Model.Lastname</h1>
                <h1>UserName: @Model.UserName</h1>
                
            </div>

            
            <span >Joined at @Model.Data</span> 
            <br/>
            <br/>
            <a class="btn btn-danger" asp-controller="Users" asp-action="Logout">Logout</a>
        </div>                             
    </div> 
    
</div>
<style>

</style>
<h1>Join science requests</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Request</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    @{
        var joinRequests = await DbContext.JoinScienceRequests
            .Where(r => r.ToUserId == Model.Id && r.IsJoinded == false)
            .Include(r => r.Science)
            .Include(r => r.FromUser)
            .ToListAsync();

        for (var i = 0; i < joinRequests.Count; i++)
        {
            var joinRequest = joinRequests[i];

            <tr>
                <th scope="row">@(i + 1)</th>
                <td><strong>@joinRequest.FromUser.UserName</strong> requested to join <strong>@joinRequest.Science.Name</strong></td>
                <td>
                    <a class="btn btn-primary" 
                       asp-controller="Science" 
                       asp-action="JoinScience"
                       asp-route-isJoin="true"
                       asp-route-joinRequestId="@joinRequest.Id">Join</a>

                    <a class="btn btn-primary" 
                       asp-controller="Science" 
                       asp-action="JoinScience"
                       asp-route-isJoin="false"
                       asp-route-joinRequestId="@joinRequest.Id">Reject</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>