@using Classroom.Data.Entities
@using ClassRoomMVC.Services
@model Classroom.Data.Entities.Science
@inject UserProvider UserProvider

@*<h1>Science</h1>
<h3>Name: @Model.Name</h3>
<h3>Description: @Model.Description</h3>
<h3>Teacher: @Model.UserSciences!.First(user=>user.Type == EUserScience.Teacher).User?.UserName</h3>

<a class="btn btn-secondary" asp-action="SendJoinScienceRequest" asp-route-scienceId="@Model.Id" >Send join request</a>*@

<div class="row col-lg-12 col-md-12 col-sm-12 gap-3 d-flex justify-content-center">


    @{
       

        <div class="card" style="width: 30%;box-shadow: 0 0rem 3rem rgba(8,7,16,0.6)!important;">
            <img src="/Image/A9.jpg" class="card-img-top" alt="RASM">
            <div class="card-body">
                <h4 class="card-title">Name: @Model.Name</h4>


                <p class="card-text">Description: @Model.Description</p>
                <p class="card-text">Teacher: @Model.UserSciences!.First(user=>user.Type == EUserScience.Teacher).User?.UserName</p>

                <a class="btn btn-secondary" asp-action="SendJoinScienceRequest" asp-route-scienceId="@Model.Id" >Send join request</a>
            </div>
        </div>
    }
</div>

<h1>Students</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Firstname</th>
        <th scope="col">Username</th>
        <th scope="col">Role</th>
    </tr>
    </thead>
    <tbody>
    @{
        for (var i = 0; i < Model.UserSciences!.Count; i++)
        {
            var userSchool = Model.UserSciences[i];

            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@userSchool.User.Firstname</td>
                <td>@userSchool.User.UserName</td>
                <td>@userSchool.Type</td>
            </tr>
        }
    }
    </tbody>
</table>