@model Classroom.Data.Entities.School

<h1>Sciences </h1>
@*<a class="btn btn-primary" asp-area="" asp-action="Create" asp-route-schoolId="@Model.Id">Create</a>*@
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Users</th>
        <th scope="col">View</th>
    </tr>
    </thead>
    <tbody>

    @for (var i = 0; i < Model.Sciences?.Count; i++)
    {
        var science = Model.Sciences[i];

        <tr>
            <th scope="row">@(i + 1)</th>
            <td>@science.Name</td>
            <td>@science.Description</td>
            <td>@science.UserSciences?.Count</td>
            <td>
                @*  <a class="btn btn-primary" asp-action="GetById" asp-route-scienceId="@science.Id">View</a>*@
            </td>
        </tr>
    }
    </tbody>
</table>